<footer>
            <div class="row">

               <!-- Social Media links, etc -->
               <div class="col-lg-6 footer">
               {% include social_media.html %}
               </div>

                <div class="col-lg-6 footer">
<p><img src="{{ "images/logo/logo.png" }}" alt="Company logo" style="width:40px;padding-bottom:10px"/></p>
{% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last generated: {{ site.time | date: "%b %-d, %Y"  }} <br />
                </div>
            </div>
</footer>
