<style>
/* Better styles for embedding GitHub Gists */
.gist{font-size:13px;line-height:20px;margin-bottom:20px;width:100%}
.gist pre{font-family:Menlo,Monaco,'Bitstream Vera Sans Mono','Courier New',monospace !important}
.gist-meta{font-family:Helvetica,Arial,sans-serif;font-size:13px !important}
.gist-meta a{color:#26a !important;text-decoration:none}
.gist-meta a:hover{color:#0e4071 !important}
</style>
<script src="https://gist.github.com/{{ include.username }}/{{ include.id  }}.js?file={{ include.file }}"></script>
